body {
  background-color: #ebebeb;
}

a {
  display: inline;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.navbar-container {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(4, 196, 4) !important;

}
.navbar 
a {
  color: white !important;
  
}

form label {
  margin-top: 20px;
}