<!DOCTYPE html>
<html lang="en">
  <head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title th:text="${title}"></title>
  </head>

  <body th:fragment="navbar">
    <div class="row col-12 navbar-container" th:fragment="navbar">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <div th:if="${user}">
            <a th:href="@{/add-fruit}">Ajouter un fruit</a>
            <a style="margin-left: 20px;" th:href="@{/add-recipe}">Ajouter une recette</a>
          </div>
          <a class="navbar-brand h1" th:href="@{/}">Fruitzplon</a>

          <div>
            <a th:if="!${user}" class="text-grey p-4" th:href="@{/register}"
              >S'enregistrer</a
            >
            <a
              class="bi bi-person-circle"
              th:href="@{/account}"
              th:text="${user} ? ${user.firstName} : 'Se connecter'"
            ></a>
          </div>
        </div>
      </nav>
    </div>

    <div th:fragment="foot">
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
