<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/layout.html :: head('Fruitzplon')">

</head>

<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
    <div class="row m-5">
        <hr>
        <h1 th:text="'Bonjour, '+ ${user.firstName} + ' ' + ${user.lastName}"></h1>
        <hr>
        <div class="row">
            <a th:href="@{/add-fruit}" class="btn btn-secondary m-2" style="width: 200px;">Ajouter un fruit</a>
        </div>
        <div class="row">
            <a th:href="@{/logout}" class="btn btn-secondary m-2" style="width: 200px;">Déconnexion</a>
        </div>
    </div>

</body>

</html>