<!doctype html>

<head th:replace="fragments/layout.html :: head('Fruitzplon - Ajouter une recette')">

</head>

<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
    <div class="container-fluid d-flex justify-content-center">

    <div class="card text-center" style="max-width: 55em; margin: 2em">

        <div class="card-body row justify-content-center">

            <div class="row" style="padding:25px;">
                <h1>Créer une recette</h1>
                <form th:action="@{/add-recipe}" method="post" enctype="multipart/form-data">
                    <label for="name">Nom de la recette :</label>
                    <input class="form-control" type="text" id="name" th:field="${recipe.name}" required>
                    <label for="description">Description :</label>
                    <textarea class="w-100" name="description" id="description" th:field="${recipe.description}" rows="3" required></textarea>
                    <label for="fruit">Fruit : </label>
                    <select required id="fruit" class="form-select" th:field="${recipe.fruit.id}">
                        <option selected th:value="${null}">Sélectionnez un fruit</option>
                        <option th:each="fruit : ${fruitList}" th:value="${fruit.id}"
                            th:text="${fruit.name}"></option>
                    </select>
                    <label for="cover">Image : </label>
                    <input type="file" class="form-control" id="cover" name="file">
                    <button class="btn btn-success" style="margin-top:25px;">Ajouter la recette</button>
                </form>
            </div>
        </div>
    </div>

    </div>
    <div th:replace="fragments/layout.html :: foot"></div>
</body>

</html>