<!doctype html>

<head th:replace="fragments/layout.html :: head('Fruitzplon - Ajouter un fruit')">

</head>

<body>
    <div th:replace="fragments/layout.html :: navbar"></div>
    <div class="container-fluid d-flex justify-content-center">

    <div class="card text-center" style="max-width: 55em; margin: 2em">

        <div class="card-body row justify-content-center">

            <div class="row" style="padding:25px;">
                <h1>Créer un fruit</h1>
                <form th:action="@{/add-fruit}" method="post" enctype="multipart/form-data">
                    <label for="name">Nom du fruit :</label>
                    <input class="form-control" type="text" id="name" th:field="${fruit.name}" required>
                    <label for="description">Description du fruit :</label>
                    <textarea class="w-100" name="description" id="description" th:field="${fruit.description}" rows="3" required></textarea>
                    <label for="category">Catégorie du fruit : </label>
                    <select required id="category" class="form-select" th:field="${fruit.category.id}">
                        <option selected th:value="${null}">Sélectionnez la catégorie</option>
                        <option th:each="category : ${categoryList}" th:value="${category.id}"
                            th:text="${category.name}"></option>
                    </select>
                    <label for="season">Saison du fruit : </label>
                    <select required id="season" class="form-select" th:field="${fruit.season.id}">
                        <option selected th:value="${null}">Sélectionnez la saison</option>
                        <option th:each="season : ${seasonList}" th:value="${season.id}"
                            th:text="${season.name}"></option>
                    </select>
                    <label for="nutritionFacts">Informations Nutritionnelles :</label>
                    <input class="form-control" type="text" id="nutritionFacts" th:field="${fruit.nutritionFacts}" required>
                    <label for="cover">Image : </label>
                    <input type="file" class="form-control" id="cover" name="file">
                    <button class="btn btn-success" style="margin-top:25px;">Ajouter le fruit</button>
                </form>
            </div>
        </div>
    </div>

    </div>
    <div th:replace="fragments/layout.html :: foot"></div>
</body>

</html>