<!DOCTYPE html>

<head th:replace="fragments/layout.html :: head('Librart - Collection')">
<head>
    <title>Collection</title>
</head>
<body>
  <div th:replace="fragments/layout.html :: navbar"></div>

  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div th:each="fruit : ${fruits}" class="column col-md-4">
        <a th:href="@{/fruit/}+${fruit.id}">
          <img th:src="${fruit.imageUrl}" th:alt="${fruit.title}">
        </a>
      </div>
    </div>
  </div>
  
  <div th:replace="fragments/layout.html :: foot"></div>

</body>
</html>
