<!DOCTYPE html>
<html>
  <head th:replace="fragments/layout.html :: head('Fruitzplon')"> </head>

  <body>
    <div th:replace="fragments/layout.html :: navbar"></div>

    <input
      onclick="javascript:window.history.back()"
      class="btn btn-success"
      style="margin: 25px; position: absolute"
      value="Retour"
      type="button"
    />
    <div class="container-fluid d-flex justify-content-center" th:if="${fruit}">
      <div class="card text-center" style="max-width: 55em; margin: 2em">
        <img
          class="card-img-top"
          th:src="${fruit.imageUrl}"
          th:alt="${fruit.name}"
        />
        <div class="card-body">
          <div class="col">
            <div class="row col-12 d-flex justify-content-center"></div>
            <h1 class="col-12" th:text="${fruit.name}"></h1>
            <a
              th:href="@{/category/}+${fruit.category.id}"
              style="width: 200px"
              class="btn btn-success category"
              th:text="${fruit.category.name}"
            ></a>
            <p class="season d-flex justify-content-center">
              Saison : <span th:text="${fruit.season.name}"></span>
            </p>
          </div>
          <p th:text="${fruit.description}"></p>
          <div>
            <p>Recettes disponibles :</p>
            <ul>
              <li th:each="recipe : ${fruit.recipes}">
                <a
                  th:href="@{/recipe/}+${recipe.id}"
                  th:text="${recipe.name}"
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="fragments/layout.html :: foot"></div>
  </body>
</html>
