<!doctype html>

<head th:replace="fragments/layout.html :: head('Fruitzplon')">

</head>

<body>
  <div th:replace="fragments/layout.html :: navbar"></div>

  <div class="container-fluid">
    <div class="row m-5">
      <div th:each="fruit : ${fruits}" class="col d-flex justify-content-center">
        <div class="card" style="max-width: 18rem;">
          <img class="card-img-top" th:src="${fruit.imageUrl}" th:alt="${fruit.name}">
          <div class="card-body">
            <h5 class="card-title" th:text="${fruit.name}"></h5>
            <p class="card-text" th:text="${fruit.description}"></p>
            <a th:href="@{/fruit/}+${fruit.id}" class="btn btn-success">Détails</a>
          </div>
        </div>
        <a class="text-center">
          <img >
          <p ></p>
        </a>
      </div>
    </div>
  </div>
  
  <div th:replace="fragments/layout.html :: foot"></div>

</body>

</html>
