<!DOCTYPE html>
<head th:replace="fragments/layout.html :: head('Fruitzplon')"></head>
<body>
    <div th:replace="fragments/layout.html :: navbar"></div>

    <input onclick='javascript:window.history.back()' class="btn btn-success" style="margin: 25px; position: absolute;" value='Retour' type='button' />
    <div class="container-fluid d-flex justify-content-center">
      <div class="card text-center" style="max-width: 55em; margin: 2em">
        
        <img class="card-img-top" th:src="${recipe.imageUrl}" th:alt="${recipe.name}">
        <div class="card-body">

            <div class="row text-center d-flex justify-content-center">
                <h1 th:text="${recipe.name}"></h1>
                
                <p th:text="${recipe.description}"></p>
            </div>
        </div>
    </div>
    </div>
    <div th:replace="fragments/layout.html :: foot"></div>
</body>
</html>